$primary-color: hsl(26, 100%, 55%);
$active-img-color: hsl(25, 100%, 94%);
$headings-color: hsl(220, 13%, 13%);
$text-color: hsl(219, 9%, 45%);
$original-price: hsl(220, 14%, 75%);
$font-weights: (
    'medium': 400,
    'bold':700,
    'huge':900
);